/*注册页面样式表*/

.maring-top{
    height: 150px;
}
#local-component-form-div,
#local-component-active-div{
    background: url("/../img/registerfontbg.png");
    width: 1125px;
    height: 560px;
    margin: 0 auto;
}
#local-component-form-div .local-component-form-body,
#local-component-active-div .local-component-active-body{
    width: 965px;
    height: 446px;
    padding: 35px 79px 80px 80px;
}
#local-component-form-div .local-component-form-left{
    width: 70%;
    height: 100%;
    float: left;
    background-color: rgba(250,250,250,0.8);
}
#local-component-form-div .local-component-form-right{
    width: 30%;
    height: 100%;
    float: right;
    background-color: rgba(250,250,250,0.8);
}
#local-component-form-div .local-component-form-left-body{
    width: 594.5px;
    height: 366px;
    padding: 40px;
    border-right: 1px dashed #4e5e88;
}
#local-component-form-div .local-component-form-body-spandiv{
    width: 80px;
    height: 366px;
    float: left;
    text-align: right;
    line-height: 70px;
    color: #666;
}
#local-component-form-div .local-component-form-body-inputdiv{
    width: 491.5px;
    height: 316px;
    float: left;
    margin-left: 10px;
    line-height: 70px;
}
#local-component-form-div .local-component-form-body-inputdiv input{
    width: 477.5px;
    height: 20px;
    padding: 5px;
    color: #d3a45e;
}
#local-component-form-div .local-component-form-body-tipspan{
    float: left;
    padding-top: 4px;
    margin-left: 5px;
    line-height: 70px;
}
#local-component-form-div .local-component-form-body-tipspan span{
    color: #f00;
}
#local-component-form-div .finish-button{
    float: left;
    margin-left: 10px;
    width: 472.5px;
}
#local-component-form-div .local-component-form-right-body{
    height: 366px;
    padding: 40px;
    font-size: 9px;
    color: #666;
}
#local-component-form-div .local-component-form-right-body-first{
    height: 300px;
    overflow-y: scroll;
    line-height: 30px;
}
#local-component-form-div .local-component-form-right-body-first span{
    color: #d3a45e;
    margin-left: 26px;
    font-size: 16px;
}
#local-component-form-div .local-component-form-right-body-second{
    margin-top: 25px;
    text-align: center;
}

#local-component-active-div .local-component-active-body{
    padding-top: 15px;
}
h1,
h2,
h3{
    font-weight: 400;
}
#local-component-active-div .local-component-active-content{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
}
#local-component-active-div .local-component-active-content h1,
#local-component-active-div .local-component-active-content h3{
    padding-top: 80px;
    color: #d3a45e;
}
#local-component-active-div .local-component-active-content h2,
#local-component-active-div .local-component-active-content h3{
    color: #666;
}
#local-component-active-div .local-component-active-content-tip{
    width: 40%;
    margin: 0 auto;
    text-align: left;
    color: #666;
    font-size: 9px;
}
#local-component-active-div .local-component-active-content-tip ul{
    line-height: 20px;
}


.fonter{
    margin-top: 60px;
}